<div class="container">
    <div class="row">
        <div class="cal-12">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec id ipsum blandit, tempus quam sed, vestibulum tellus. Mauris cursus tempus sem vitae sodales. 
                Mauris in tincidunt nisl, vel rutrum arcu. In porttitor orci nec neque imperdiet faucibus. In ipsum libero, pretium a quam hendrerit, rhoncus tempor diam. 
                Proin id nisl sed ligula vehicula efficitur. Nam libero est, pulvinar eget sem nec, laoreet volutpat nisi. Curabitur fermentum ipsum sit amet suscipit ultrices. 
                Nulla convallis ante sed malesuada faucibus. Pellentesque enim enim, laoreet bibendum metus at, sollicitudin viverra mauris. 
                Maecenas sit amet enim ac ante volutpat ornare id sed urna. Praesent tincidunt et elit id iaculis. In lacus tellus, rhoncus vel nisl at, semper blandit felis. 
                Curabitur viverra dolor metus, in tempus lacus pretium quis. Quisque at interdum tortor. Integer lacinia diam leo, sit amet hendrerit odio laoreet in. 
                Phasellus consectetur vel ipsum in molestie. Vestibulum interdum fermentum urna vel cursus. Vestibulum vel tristique dolor, nec tempus arcu. 
                Duis non pellentesque dui, ac rutrum tellus. Vivamus pretium est mollis tellus condimentum sollicitudin sit amet quis ligula. 
                Vivamus malesuada purus a arcu consectetur rhoncus. Pellentesque quam leo, interdum eu facilisis quis, pellentesque ac leo. 
                Morbi vehicula est turpis, tristique dictum urna dapibus vitae. 
            </p>
        </div>
    </div>
</div>